@import url('reset.css');
@import url('typography.css');

/* Global styles */
body {
    background: #0B0F11 url('/images/site/stripe.png') repeat top left;
    color: #AFAFAF;
}

div#border {
    width: 980px;
    margin: 44px auto 40px;
    padding: 0;
    border: 1px solid #AFAFAF;
    /* background-color: white; */
    position: relative;
}

div#container {
  margin: 30px auto 30px;
  width: 920px;
  padding: 12px 0 0 0;
  position: relative;
  background-color: #fff;
}

.shadow {
    -moz-box-shadow: 3px 3px 12px #000;
    -webkit-box-shadow: 3px 3px 12px #000;
}

/* Header */
header#branding { 
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  margin: 0 12px;
  padding: 4px 0 0;
  text-align: left;
  color: #222;
  overflow: hidden;
}

header#branding h1 {
  font-family: Georgia, Times, 'Times New Roman', times-roman, serif;
  font-size: 1em;
  margin: 0 12px 0 0;
  letter-spacing: -1px;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 1em;
  float: left;
}

header#branding h1 a { color: inherit; }
header#branding h1 a:hover { text-decoration: none }

header#branding p { 
  margin: 0;
  text-align: justify;
  line-height: 1.3em;
}

/* Content */
div#content { margin: 0 12px; overflow: hidden; }
div#content p {
  color: #444;
  padding: 0 0 6px;
}

div#content section { padding: 24px 0;}
div#content section header { display: none; }

section#articles {
  float: left;
  width: 650px;
}

div#content aside#sidebar {
  float: right;
  width: 220px;
  margin: 90px 0 0 0
}

/* Section: Articles */
section#articles div#meta, article footer p {
    text-transform: uppercase;
    margin-bottom: 16px;
    color: #CCC;
    font-family: 'Lucida Grande', Geneva, Helvetica, sans-serif;
    font-size: 10px;
    font-variant: normal;
    font-weight: lighter;
    letter-spacing: 0.2em;
    text-align: left;
}

section#articles h3 {
    font-family: 'Hoefler Text', Georgia, 'Times New Roman', Times, serif;
    font-size: 26px;
    font-weight: normal;
    margin-top: 5px;
    text-align: left;
}

section#articles h3 a {
    color: #333;
    display: block;
    font-weight: 400;
    outline: none;
    text-align: left;
    width: 100%;
}

section#articles h3 a:hover{ 
    color: #F49300;
    cursor: pointer;
}

section#articles p.byline, article p.byline {
    border-bottom: 1px dotted #DEDEDE;
    color: #666;
    display: block;
    font-family: 'Lucida Grande', Geneva, Helvetica, sans-serif;
    font-size: 10px;
    height: 42px;
    letter-spacing: 0.2em;
    margin-bottom: 22px !important;
    margin-top: -3px;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
}

/* Sidebar */

aside#sidebar section#projects header { display: block; }
aside#sidebar section#projects header h2 {
  margin: 0 0 12px 0;
  color: #333;
  font-family: 'Hoefler Text', Georgia, 'Times New Roman', Times, serif;
  font-size: 26px;
}

aside#sidebar section#projects ul li {
  color: #444;
  font-size: 0.9em;
  margin: 12px 0 6px;
}
aside#sidebar section#projects ul li a { display: block; }

/* Site footer */
footer#footer {
    font-size: 0.7em;
    text-align: center;
}
