@import url('reset.css');
@import url('typography.css');

/* {{{ Global styles */
body {
    background: #0B0F11 url('/images/site/stripe.png') repeat top left;
}

#border {
    width: 42em;
    margin: 5em auto 5em;
    padding: 0;
    border: 1px solid #AFAFAF;
    /* background-color: white; */
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#container {
  margin: 1em auto;
  width: 95%;
  padding: 1em 0 0 0;
  position: relative;
  background-color: #fff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.shadow {
    -moz-box-shadow: 3px 3px 12px #000;
    -webkit-box-shadow: 3px 3px 12px #000;
}
/* }}} */

/* {{{ Header */
#container > header { 
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  margin: 0 2em;
  height: 13em;
  color: #222;
  overflow: hidden;
  background: transparent url("/images/site/headers/bg_steampunk_03.jpg") no-repeat center bottom;
  background-size: cover;
  position: relative;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
}

#container > header h1 {            /*Name header with link back*/
    font-family: 'Waiting for the Sunrise', arial, serif;
    font-weight: 100;
    line-height: 140%;
    font-size: 3em;
    position: absolute;
    right: -0.05em;
    bottom: -0.35em;
}

#container > header h1 a {
    color: white;
}

#container > header h1 a:hover {
    text-decoration: none;
    color: #ed1400;
}

/* }}} */

/* {{{ Content */
div#content {
    margin: 3.4em 2em;
}

#content > section { margin-bottom: 3em; }

/* Section & article headers */
section > header,
#content > article  header {
    border-bottom: 1px solid #0b0f11;
    overflow: hidden;
    height: 1.4em;
    margin-bottom: 1em;
}
section > header h1,
section > header h2,
#content > article header h1,
#content > arcitle header h2 {
    font-size: 1em;
    color: #0b0f11;
}
section > header h1,
#content > article header h1 { float: left; font-size: 1.2em; }
section > header h2,
#content > article header h2 {
    float: right;
    color: #666;
    /* font-family: 'Lucida Grande', Geneva, Helvetica, sans-serif; */
    font-size: 0.57em;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin: 0;
}

/* {{{ Article list */
section article > header h1 {
  font-size: 1.2em;
}
/* {{{ Articles */
/* section article > header hgroup { overflow: auto; } */
/* section article > header h1 { */
/*     font-size: 1.2em; */
/*     font-weight: bold; */
/*     display: inline; */
/* } */
/*  */
/* section article > header h2 { */
/*     text-transform: uppercase; */
/*     font-size: 0.6em; */
/*     letter-spacing: 0.1em; */
/*     color: #444; */
/*     display: inline; */
/* } */
/*  */
/* section article > header h2, */
/* article > footer {	      /* bylines */ */
/*     font-size: 0.6em; */
/*     letter-spacing: 0.2em; */
/*     padding: 0; */
/*     text-transform: uppercase; */
/*     white-space: nowrap; */
/*     overflow: hidden; */
/*     text-overflow: ellipsis; */
/*     /* font-family: 'Lucida Grande',Geneva,Helvetica,sans-serif; */ */
/* } */
/*  */
/* section > article p {		/* Content text for links */ */
/*     margin-top: -0.2em; */
/*     margin-left: 1.8em; */
/*     font-size: 0.75em; */
/*     letter-spacing: 0.07em; */
/*     color: #666; */
/* } */

/* {{{ Article contents */
article img {
    margin: 0.3em 2em 0 0;
}

article img + p { 		/* img caption */
    font-size: 0.7em;
    margin: -1.3em 0 1.2em 0;
}

header + h1 { display: none; }
article div.maruku_toc {
    float: right;
    margin: 1.5em 0 1em 1em; }
article div.maruku_toc ul {
    border-right: 0.1em solid #666;
    padding-right: 1em; }
article div.maruku_toc ul li {
    margin: 0.5em 0; }

article h2, article h3, article h4 { margin: 1.5em 0 0.5em 0; }
article h2 { font-size: 1.1em; }
article h3, article h4 { font-size: 1em; }

article blockquote {
    margin: 1em 3em 1em -1em;
    color: #666;
    border-left: 0.1em solid #666;
    padding-left: 1em; }
article blockquote span.source {
    text-align: right; 
    display: block; }
article blockquote span.source:before {
    content: "— "; }

article code {
    font-family: Courier, monospace; }

article ul {
    list-style: disc outside;
    margin: 1em 0; }
article ul ul {
    margin: 0 0 0 1em;
    list-style-type: circle; }

article footer p { color: #0B0F11; }
/* }}} */
/* }}} */

/* {{{ Code section */

section ul#projects li {
  color: #444;
  font-size: 0.9em;
  margin: 12px 0 6px; }
section ul#projects li a { display: block; }
/* }}} */

/* {{{ Article Page */
div#content > article header h1 {
    font-size: 1.2em;
    margin: 0; }

/* {{{ Site footer */
footer#footer {
    font-size: 0.7em;
    text-align: center; }
/* }}} */
