@import url('reset.css');
@import url('typography.css');

/* {{{ Global styles */
body {
    background: #0B0F11 url('/images/site/stripe.png') repeat top left;
    color: #0B0F11;
}

div#border {
    width: 62em;
    margin: 5em auto 5em;
    padding: 0;
    border: 1px solid #AFAFAF;
    /* background-color: white; */
    position: relative;
}

div#container {
  margin: 2em auto;
  width: 57em;
  padding: 1em 0 0 0;
  position: relative;
  background-color: #fff;
}

.shadow {
    -moz-box-shadow: 3px 3px 12px #000;
    -webkit-box-shadow: 3px 3px 12px #000;
}
/* }}} */

/* {{{ Header */
header#branding { 
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  margin: 0 1em;
  text-align: left;
  color: #222;
  overflow: hidden;
}

header#branding h1 {            /*Name header with link back*/
  font-size: 1em;
  margin: 0 0.5em 0 0;
  letter-spacing: -1px;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 1em;
  float: left;
}

header#branding h1 a:hover {
    text-decoration: none
}

header#branding h2 {            /*Tagline*/
    font-size: 0.8em;
    line-height: 1.3em;
    text-align: justify;
    font-weight: lighter;
    margin: 0;
}

header#branding h3 {            /*Semi hidden headline, big text*/
    font-family: 'Hoefler Text', Georgia, 'Times New Roman', Times, serif;
    font-size: 6.8em;
    line-height: 0.4em;
    margin-top: 0.8em;
}
/* }}} */

/* {{{ Content */
div#content {
    margin: 3.4em 1em;
    overflow: hidden;
}
div#content p {
  color: #444;
  padding: 0 0 0.5em;
}

/* Content header */
section header { border-bottom: 1px solid #0b0f11; }
section header h2 {
    font-size: 1em;
    color: #0b0f11;
    line-height: 0.67em;
}

/* {{{ Section: Articles */
section#articles div#meta, article footer p {
    text-transform: uppercase;
    margin-bottom: 1em;
    color: #CCC;
    font-family: 'Lucida Grande', Geneva, Helvetica, sans-serif;
    font-size: 0.6em;
    font-variant: normal;
    font-weight: lighter;
    letter-spacing: 0.2em;
    text-align: left;
}

section#articles h3 {
    margin-top: 5px;
}

section#articles h3 a {
    font-family: 'Hoefler Text', Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 1.3em;
}

section#articles ul li {
    margin-bottom: 3em;
}

section#articles p.byline, article p.byline {
    /* border-bottom: 1px dotted #DEDEDE; */
    color: #666;
    font-family: 'Lucida Grande', Geneva, Helvetica, sans-serif;
    font-size: 0.57em;
    letter-spacing: 0.2em;
    margin-bottom: 1em;
    padding: 0;
    text-transform: uppercase;
}

section#articles img, article img {
    margin: 0.3em 2em 0 0;
}

section#articles p.caption, article p.caption {
    font-size: 0.7em;
    margin: -1.3em 0 1.2em 0;
}
/* }}} */

/* {{{ Sidebar */

/* Make sidebar */
section#articles {
    width: 650px;
    float: left;
}

aside#sidebar {
    float: right;
    width: 220px;
}

aside#sidebar section#projects ul li {
  color: #444;
  font-size: 0.9em;
  margin: 12px 0 6px;
}
aside#sidebar section#projects ul li a { display: block; }
/* }}} */
/* }}} */

/* {{{ Site footer */
footer#footer {
    font-size: 0.7em;
    text-align: center;
}
/* }}} */
