/* Font face */
/*
HTTP://KERNEST.COM FONT DELIVERY SPONSORED BY:
FontConf - The Unconference for Web Fonts &amp; @Font-Face. June 19, 2010. - http://fontconf.com 
*/

/* 
Titillium Text 1 
 
Foundry: Accademia Di Belle Arti Urbino, http://www.campivisivi.net/titillium/ 
Contributors:  
License: SIL Open Font License, http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&item_id=OFL 
*/

@font-face {
	font-family: 'Titillium';
	font-weight: 100;	
	src: url('http://kernest.com/embed/titillium-text-1'), url('http://kernest.com/embed/titillium-text-1#titilliumtext1')  format('svg');
}

/* Base font */
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-decoration: none;
  word-spacing: 0.1em;
  text-align: left;
  letter-spacing: 0;
  line-height: 1.3em;
  font-size: 16px;
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 { font-size: 2em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; }

/* Links */
a, a:link, a:visited, a:hover {
  text-decoration: none;
  color: #0b0f11;
}

a:hover {
  color: #ed1400;
}

/* Body text */

p {
    font-size:0.875em;
}
