<!DOCTYPE html><html lang="en">
  <head>
    <meta charset="utf-8">
      <title>{{ page.title }}</title>
    </meta>
    <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <link rel="stylesheet" href="/ie.css" type="text/css" />
    <![endif]-->
    <!-- Homepage CSS -->
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
  </head>
  <body>
    <div id="site">
      <header id="branding">
        <h1>Michishige Kaito</h1>
        <p>Home on the web to the hobby programmer, horrible designer, video gamer, Mr Fix-it-all, Chris Webstar aka Michishige Kaito. I love to write, share, express and flesh out cool ideas and things I come across, things that make me think, and thoughts that create things.</p>
      </header>
      
      <div id="content">
        {{ content }}
      </div>
      
      <footer id="footer">Copyleft Michishige Kaito 2010. Don&#8217;t steal my stuff, it&#8217;s bad karma.</footer>
    </div>
  </body>
</html>
