<!DOCTYPE html><html lang="en">
  <head>
    <meta charset="utf-8">
      <title>Michishige KAITO | {{ page.title }}</title>
    </meta>
    <link href="/atom.xml" rel="alternate" title="Michishige Kaito" type="application/atom+xml" />
    <link href="http://kernest.com/fonts/titillium-text-1.css" media="screen" rel="stylesheet" type="text/css" />
    <!--[if IE]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<link rel="stylesheet" href="/ie.css" type="text/css" />
    <![endif]-->
    <!-- Homepage CSS -->
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
    <script src="/js/mootools.js"></script>
    <script src="/js/site.js"></script>
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/dojo/1.4/dojo/dojo.xd.js" type="text/javascript"></script> -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-10743938-2']);
      _gaq.push(['_trackPageview']);
      (function() {

      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      
    </script>
  </head>
  <body>
    <div id="border">
      <div id="container">
        <header>
            <h1><a href="/" rel="home">Michishige Kaito</a></h1>
            <!-- <h2>Hobby programmer, horribly tasteless designer, passionate video gamer &amp; technology handyman. I love to write, share, express and flesh out cool ideas and things I come across, things that make me think, and thoughts that create things. I like Linux, Emacs, CLI apps, coding in Ruby, tiling window managers, and Everquest 2.</h2> -->
            <!-- <h3><a href="/" rel="home">Progressionism</a></h3> -->
        </header>
        
        <div id="content">
          {{ content }}
        </div>
        
        <footer id="footer">Don&#8217;t steal my stuff, it&#8217;s bad karma. If the site looks weird, get a better browser. <a href="http://kernest.com">Fonts by Kernest</a></footer>
      </div>
    </div>
  </body>
</html>
