---
layout: default
---
<article>
  <header>
    <hgroup>
      <h1>{{ page.title }}</h1>
      {% comment %}{% if page.byline %}<h2>{{ page.byline }}</h2>{% endif %}{% endcomment %}
    </hgroup>
  </header>
  {{ content }}
  <footer>
    <p>{{ page.date | date: "%B %d %Y " }} &mdash; {{ page.meta }}</p>
    <p class="askme">Ask me anything! Tweet me at <a href="http://twitter.com/michishigekaito">@michishigekaito</a>, or mail me at <a href="mailto:me@mkaito.com">me@mkaito.com</a>.</p>
    <p>Just as <a href="http://warpspire.com/ask/">Kyle Neath</a> does, I think comments on blogs suck. Be constructive and resonable, and I'll happily respond.</p>
  </footer>
</article>
