---
layout: default
---
<article>
  <header>
    <hgroup>
      <h1>{{ page.title }}</h1>
      {% comment %}{% if page.byline %}<h2>{{ page.byline }}</h2>{% endif %}{% endcomment %}
    </hgroup>
  </header>
  {{ content }}
  <footer>
  <p>{{ page.date | date: "%B %d %Y " }}{% if page.meta %} &mdash; {{ page.meta }}{% endif %}</p>
    <p>Just as <a href="http://warpspire.com/ask/">Kyle Neath</a> does, I think comments on blogs suck. If you'd like to get in touch, please tweet or email me. Be kind and considerate, and I'll happily respond. Be awesome, and I'll post your comments on the site for everyone to see. Oh, and don't be a fuckwad.</p>
  </footer>
</article>
